.map-controls {
	position: absolute;
	display: grid;
	z-index: 1;
	text-align: center;
	padding: 0 2.5rem;
}

.map-controls h1 {
	font-size: 2rem;
	font-weight: 800;
	font-family: unset;
	color: #ed5f68;
	padding: 1rem;
	background: rgba(114, 184, 238, 0.502);
	border-radius: 0.75em;
	letter-spacing: 0.15ch;
}

.map-controls a {
	font-size: 1.5rem;
	padding-bottom: 2rem;
	color: rgb(167, 36, 167);
	font-weight: 800;
	text-decoration: none;
	transition: 1s;
	letter-spacing: 0.25ch;
}

.map-controls a:hover {
	color: rgb(79, 79, 211);
}

.map-controls-location {
	display: grid;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	margin-left: 2.5rem;

}
.map-controls-location * {
	padding: 0.25rem 0;
	max-width: 40vw;
}

.search input {
	padding: 0.75rem;
	font-size: 1rem;
	border-radius: 0.5em;
	width: 100%;
}

.locate {
	background: none;
	border: none;
}

.locate img {
	width: 15vmin;
	cursor: pointer;
}